<%= form_with(model: listing, local: true, multipart: true) do |form| %>
  <% if listing.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h4>
      <ul>
        <% listing.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :type_of_event, "Event Type" %>
    <%= form.select :type_of_event,
                   Listing.type_of_events.keys.map { |type| [type.humanize, type] },
                   { include_blank: "Select an event type" },
                   { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= form.label :price %>
    <%= form.number_field :price, step: 1, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :location %>
    <%= form.text_field :location, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :image %>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <% if listing.image.attached? %>
    <div class="form-group">
      <% cl_image_tag(listing.image.key, width: 400, height: 400, crop: :fill) %>
      <%= form.check_box :remove_image %>
      <%= form.label :remove_image, "Remove image" %>
    </div>
   <% end %>

  <div class="form-group">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
